.lmj-plant-list {
	list-style-type: none;
	padding: 2px;
	display: flex;
	flex-wrap: wrap;
	max-width: 1800px;
}
.lmj-shopping-list {
	width: 100%;
}
.aj{
	background:black;
	outline: none;
	border-radius:20px;
    border-color: #31b572;
    padding: 10px;
	font-weight: 700px;
	cursor: pointer;
	align-self: self-start;
	
	color: white;
	
}